checkpoints/*
torch_hiddenreps/checkpoints/*
data/*
__pycache__/*
torch/__pycache__/*
jax/__pycache__/*
*.pyc
runs/*
jax_hiddenreps/experiments/*
neural_data_flow/experiments/*

neural_data_flow/experiments/*
limit_weight_space/experiments/*
limit_weight_space/nohup.log

torch/checkpoints/*

*DS_Store
*.npy
*.parquet


latent_action_models/data/*
latent_action_models/experiments/*
latent_action_models/nohup.log

*.log

*.eqx

.vscode/*

!runs/README.md
!data/README.md
!data/MiniGrid/gendata.py


# Track only the most successful runs
runs/*
!runs/*/
runs/*/*
!runs/260321-013009-WeatherBench*/config.yaml
!runs/260327-181623-PhyWorld-New*/config.yaml
!runs/260325-231413-MiniGrid*/config.yaml
!runs/260318-174150-PhyWorld*/config.yaml
!runs/260312-113749-PerfectMNIST*/main.py
!runs/260316-202801-MiniGrid-Easy*/config.yaml


baselines/genie-plots/*
baselines/genie-claude-cont/artefacts/*
baselines/genie-claude-cont/plots/*
baselines/genie-claude/artefacts/*
baselines/genie-claude/plots/*
baselines/genie-gemini/artefacts/*
baselines/genie-gemini/plots/*
