checkpoints/*
torch_hiddenreps/checkpoints/*
data/*
__pycache__/*
torch/__pycache__/*
jax/__pycache__/*
*.pyc
runs/*
jax_hiddenreps/experiments/*
neural_data_flow/experiments/*

neural_data_flow/experiments/*
limit_weight_space/experiments/*
limit_weight_space/nohup.log

torch/checkpoints/*

*DS_Store
*.npy
*.parquet


latent_action_models/data/*
latent_action_models/experiments/*
latent_action_models/nohup.log

*.log

*.eqx

.vscode/*

!runs/README.md
